<div class="header">


<h3
>Bienvenido</h3
  >

  <h4>Enfranly Monzon</h4>
</div>

<ion-content class="ion-justify-content-center">

<ion-card [routerLink]="['/prod']" routerLinkActive="router-link-active" >
  <ion-card-header>
    <ion-card-subtitle>Dispositivo: Ekian-400</ion-card-subtitle>
    <ion-card-title>Ubicacion: Bogota</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Dispositivo: Ekian-400</ion-card-subtitle>
    <ion-card-title>Ubicacion: Bogota</ion-card-title>
  </ion-card-header>
</ion-card>
</ion-content>