
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-grid fixed class="grid1">
    <ion-row align-items-center>
      <div class="center"><h2>Acumulado</h2></div> 
    </ion-row>
     <ion-row>
       
        <p>Fecha: </p>  <ion-datetime placeholder-color="medium" displayFormat="MM DD YY" placeholder="Seleccione una fecha"></ion-datetime>
      
    </ion-row>
    <ion-row align-items-center>
    <div style="display: flex; justify-content: space-evenly; width: 100%;">
    <div  class="circulos"  > 210000</div>
    <div  class="circulos"  > 256000</div>
    </div>
    </ion-row>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>

</ion-grid>




