<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
       
      <ion-tab-button [routerLink]="['/prod']" routerLinkActive="router-link-active" >
        <ion-icon name="beer"></ion-icon>
            <ion-label>Ventas</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/producto']" routerLinkActive="router-link-active" >
        <ion-icon name="compass"></ion-icon>
            <ion-label>Productos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
    </ion-tabs>
</ion-app>
