<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Configuraciones 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-grid fixed >
  <div class="main">

    <ion-card class="items" >
      <ion-icon name="thermometer"></ion-icon> 
      <br>
      <p>Temperatura</p>
    </ion-card>
    <ion-card class="items" >
      <ion-icon name="time"></ion-icon>
      <br>
      <p>Fecha y hora</p>
    </ion-card>
    <ion-card class="items" >
      <ion-icon name="power"></ion-icon> 
      <br>
      <p>off/on</p>
    </ion-card>

    <ion-card class="items" >
      <ion-icon name="lock"></ion-icon>      <br>
      <p>Clave</p>
    </ion-card>

  </div>
</ion-grid>
